<!-- templates/admin/header.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>eAuction Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    {% comment %} <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet" type="text/javascript"
    />
    <script
      src="https://kit.fontawesome.com/a2d9a64d15.js"
      crossorigin="anonymous"
    ></script> {% endcomment %}
  </head>
  <body>
    <header class="admin-header">
      <div class="logo">
        <h2>eAuction <span>Admin Panel</span></h2>
      </div>
     
    </header>

