
	<div id="page-bottom">
		<div id="page-bottom-content">
			<h3>About Us</h3>
      <p style="text-align:justify;">eAuction is a simple and secure platform for online buying and selling through auctions. We aim to connect buyers and sellers across India with a smooth and transparent bidding experience.</p>
		</div>
		<div id="page-bottom-sidebar">
			<h3>Quick Links</h3>
			<ul class="list">
				<li class="first"><a href="#">Home</a></li>
				<li><a href="#">Register</a></li>
				<li class="last"><a href="#">Login</a></li>
			</ul>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
  <p>&copy; 2025 <strong>eAuction</strong>. All rights reserved.</p>
  <p>Designed by <a href="#">eAuction</a> | Template by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></p>
</div>
</body>
</html>