{% comment %} {% load static %}

<div id="slider">
  <div class="viewer">
    <div class="reel">
      <div class="slide">
        <img
          src="{% static 'images/banner1.png' %}"
          height="230"
          width="870"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="{% static 'images/banner2.png' %}"
          height="230"
          width="870"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="{% static 'images/banner3.png' %}"
          height="230"
          width="870"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="{% static 'images/banner4.png' %}"
          height="230"
          width="870"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="{% static 'images/banner1.png' %}"
          height="230"
          width="870"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="indicator">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
  </div>
</div>
{% endcomment %} {% load static %}

<div id="slider">
  <div class="viewer">
    <div class="reel">
      <div class="slide">
        <img
          src="{% static 'images/banner1.png' %}"
          height="300"
          width="100%"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="{% static 'images/banner2.png' %}"
          height="300"
          width="900"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="{% static 'images/banner3.png' %}"
          height="300"
          width="900"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="{% static 'images/banner4.png' %}"
          height="300"
          width="900"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="{% static 'images/banner5.png' %}"
          height="300"
          width="900"
          alt=""
        />
      </div>
    </div>
  </div>
  {% comment %}
  <div class="indicator">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
  </div>
  {% endcomment %}
</div>
